<%= form_with(model: table, local: true) do |form| %>
  <%# if table.errors.any? %>
    <!-- div id="error_explanation">
      <!--h2><%#= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2-->

      <!--ul>
      <%# table.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div-->
  <%# end %>
  <div class="field">
    <%= form.label :weight, "体重" %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :bmi, "BMI" %>
    <%= form.text_field :bmi %>
  </div>

  <div class="field">
    <%= form.label :fat, "体脂肪" %>
    <%= form.text_field :fat %>
  </div>

  <div class="field">
    <%= form.label :moisture, "水分" %>
    <%= form.text_field :moisture %>
  </div>

  <div class="field">
    <%= form.label :muscle, "筋肉量" %>
    <%= form.text_field :muscle %>
  </div>

  <div class="field">
    <%= form.label :bone, "骨量" %>
    <%= form.text_field :bone %>
  </div>

  <div class="field">
    <%= form.label :metabolism, "基礎代謝" %>
    <%= form.text_field :metabolism %>
  </div>

  <div class="field">
    <%= form.label :visceral_fat, "内臓脂肪" %>
    <%= form.text_field :visceral_fat %>
  </div>

  <div class="field">
    <%= form.label :created_at, "日付" %>
    <%= form.date_select :created_at %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
