


<table>
  <tr>
  <td>
      <strong>日付</strong>
  </td>
  <td>
    <strong>体重</strong>
  </td>
  <td>
    <strong>BMI</strong>
  </td>
  <td>
    <strong>体脂肪</strong>
  </td>
  <td>
    <strong>水分</strong>
  </td>
  <td>
    <strong>筋肉量</strong>
  </td>
  <td>
    <strong>骨量</strong>
  </td>
  <td>
    <strong>代謝</strong>
  </td>
  <td>
    <strong>体内脂肪</strong>
  </td>

  </tr>
<% @tables.each do |table| %>
<tr>
<td>
  <%= table.created_at.strftime("%Y/%m/%d") %>
</td>
<td>
  <%= table.weight %>kg
</td>
<td>
  <%= table.bmi %>
</td>
<td>
  <%= table.fat %>%
</td>
<td>
  <%= table.moisture %>%
</td>
<td>
  <%= table.muscle %>kg
</td>
<td>
  <%= table.bone %>kg
</td>
<td>
  <%= table.metabolism %>kcal
</td>
<td>
  <%= table.visceral_fat %>
</td>

</tr>
<% end %>
</table>

<p>グラフ</p>


<div class="base">
<% count = (400).to_s + "px"  %>
<% chartHeight = "400px" %>
<div class="line-chart">
<%= line_chart @weight, xtitle: "体重", ytitle: "kg", suffix:"kg",width: count, height:chartHeight, discrete: true  %>
</div>
<div class="line-chart">
<%= line_chart @bmi,  xtitle: "BMI",width: count, height: chartHeight %>
</div>
<div class="line-chart">
<%= line_chart @fat,xtitle: "体脂肪", ytitle: "%", suffix:"%", width: count, height: chartHeight %>
</div>
<div class="line-chart">
<%= line_chart @moisture,xtitle: "水分", ytitle: "%",suffix:"%",  width: count, height: chartHeight %>
</div>
</div>
<div class="base">
<div class="line-chart">
<%= line_chart @muscle, xtitle: "筋肉量", ytitle: "kg",suffix:"kg", width: count, height: chartHeight %>
</div>
<div class="line-chart">
<%= line_chart @bone,  xtitle: "骨量", ytitle: "kg",suffix:"%", width: count, height: chartHeight %>
</div>
<div class="line-chart">
<%= line_chart @metabolism, xtitle: "代謝", ytitle: "kcal",suffix:"kcal",  width: count,height: chartHeight %>
</div>
<div class="line-chart">
<%= line_chart @visceral_fat, xtitle: "体内脂肪", width: count,  height: chartHeight %>
</div>
</div>






<%= link_to '入力', new_table_path %>
<!-- %= link_to 'Back', tables_path % -->


<!--%= line_chart @compiledTables.map { |compiledTable|
    {name: compiledTable.name, data: compiledTable.data}
} %-->

<% console %>
