


<table border="1">
  <tr>
  <td>
      <strong>日付</strong>
  </td>
  <td>
    <strong>体重</strong>
  </td>
  <td>
    <strong>BMI</strong>
  </td>
  <td>
    <strong>体脂肪</strong>
  </td>
  <td>
    <strong>水分</strong>
  </td>
  <td>
    <strong>筋肉量</strong>
  </td>
  <td>
    <strong>骨量</strong>
  </td>
  <td>
    <strong>代謝</strong>
  </td>
  <td>
    <strong>体内脂肪</strong>
  </td>

  </tr>
<% @tables.each do |table| %>
<tr>
<td>
  <%= table.created_at %>
</td>
<td>
  <%= table.weight %>kg
</td>
<td>
  <%= table.bmi %>
</td>
<td>
  <%= table.fat %>%
</td>
<td>
  <%= table.moisture %>%
</td>
<td>
  <%= table.muscle %>kg
</td>
<td>
  <%= table.bone %>kg
</td>
<td>
  <%= table.metabolism %>kcal
</td>
<td>
  <%= table.visceral_fat %>
</td>

</tr>
<% end %>
</table>



<%= line_chart @weight, width: "400px", height: "200px" %>
<%= line_chart @bmi, width: "400px", height: "200px" %>
<%= line_chart @fat, width: "400px", height: "200px" %>
<%= line_chart @moisture, width: "400px", height: "200px" %>
<%= line_chart @muscle, width: "400px", height: "200px" %>
<%= line_chart @bone, width: "400px", height: "200px" %>
<%= line_chart @metabolism, width: "400px", height: "200px" %>
<%= line_chart @visceral_fat, width: "400px", height: "200px" %>

<%= link_to '入力', new_table_path %>
<!-- %= link_to 'Back', tables_path % -->


<% console %>
